{% extends "faq/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Frequently Asked Questions" %}{% endblock %}

{% block content %}
<div id="faq">

    <h1>{% trans "Frequently Asked Questions" %}</h1>

    {% if question_list %}
        <p>
        {% blocktrans with last_update_on|date:"SHORT_DATE_FORMAT" as updated_on %}Last updated on: {{ updated_on }}{% endblocktrans %}
        </p>

        <h2>{% trans "Questions" %}</h2>

        <ol>
          {% for question in question_list %}
              {% ifchanged question.topic %}
                  {% if topic_num > 0 %}<h3>{{ question.topic|default:_("General") }}</h3>{% endif %}
              {% endifchanged %}
              {% if question.is_header %}
                  <h3>{{ question.question }}</h3>
              {% else %}
                  <li>
                    <a href="#{{ question.slug }}" title="{{ question.question }}">
                      {{ question.question }}
                    </a>
                  </li>
              {% endif %}
          {% endfor %}
        </ol>

        <h2>{% trans "Answers" %}</h2>

        <ol>
          {% for question in question_list %}
              {% ifchanged question.topic %}
                  {% if topic_num > 0 %}<h3>{{ question.topic|default:_("General") }}</h3>{% endif %}
              {% endifchanged %}
              <li>
                <a id="{{ question.slug }}">
                  <h4><a href="{{ question.get_absolute_url }}">{{ question.question }}</a></h4>
                </a>
                <p>{{ question.answer|safe }}</p>
                <p class="updated_on">
                    {% blocktrans with question.updated_on|date:"DATETIME_FORMAT" as updated_on %}Updated on: {{ updated_on }}{% endblocktrans %}
                </p>
              </li>
          {% endfor %}
        </ol>
    {% else %}
        {% blocktrans %}No questions available.{% endblocktrans %}
    {% endif %}
</div>
{% endblock %}
