{% extends "faq/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Question" %} - {{ question.question|truncatewords:30}}{% endblock %}

{% block content %}

<div id="faq">
    <h1>{% trans "Frequently Asked Questions" %}</h1>

    <p><a href="{% url question-list %}">{% trans "Back" %}</a></p>

    <h3>{{ question.question }}</h3>

    <p class="answer">
        {{ question.answer }}
        <p class="updated_on">Last update on: {{question.updated_on|date:"DATETIME_FORMAT" }}</p>
    </p>
</div>
{% endblock %}
